In [1]:
%load_ext sql

In [2]:
from time import time
import configparser
import psycopg2
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
import os
config = configparser.ConfigParser()
config.read('dwh.cfg')
[HOST, DB_NAME, DB_USER, DB_PASSWORD, DB_PORT] = config['CLUSTER'].values()
conn_string="postgresql://{}:{}@{}:{}/{}".format(DB_USER,DB_PASSWORD,HOST,DB_PORT,DB_NAME)
%sql $conn_string

'Connected: awsuser@dev'

In [4]:
%%sql 
SELECT * FROM users LIMIT 5;

 * postgresql://awsuser:***@redshift-cluster.ca0vgn297wdw.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[(5, 'Elijah', 'Davis', 'M', 'free'),
 (5, 'Elijah', 'Davis', 'M', 'free'),
 (5, 'Elijah', 'Davis', 'M', 'free'),
 (5, 'Elijah', 'Davis', 'M', 'free'),
 (5, 'Elijah', 'Davis', 'M', 'free')]

In [5]:
%sql SELECT * FROM songs LIMIT 5;

 * postgresql://awsuser:***@redshift-cluster.ca0vgn297wdw.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[('SOAACFC12A8C140567', 'Supernatural Pt. II', 'ARNHTE41187B99289A', 0, Decimal('343')),
 ('SOAACTC12AB0186A20', 'Christmas Is Coming Soon', 'ARXWFZ21187FB43A0B', 2008, Decimal('180')),
 ('SOAADJH12AB018BD30', 'Black Light (Album Version)', 'AR3FKJ61187B990357', 1975, Decimal('385')),
 ('SOAAEHR12A6D4FB060', 'Slaves & Bulldozers', 'AR5N8VN1187FB37A4E', 1991, Decimal('415')),
 ('SOAAFUV12AB018831D', 'Where Do The Children Play? (LP Version)', 'AR5ZGC11187FB417A3', 0, Decimal('216'))]

In [6]:
%sql SELECT * FROM artists LIMIT 5;

 * postgresql://awsuser:***@redshift-cluster.ca0vgn297wdw.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[('AR00B1I1187FB433EB', 'Eagle-Eye Cherry', 'Stockholm, Sweden', None, None),
 ('AR00B1I1187FB433EB', 'Eagle-Eye Cherry', 'Stockholm, Sweden', None, None),
 ('AR00FVC1187FB5BE3E', 'Panda', 'Monterrey, NL, México', Decimal('25'), Decimal('-100')),
 ('AR00FVC1187FB5BE3E', 'Panda', 'Monterrey, NL, México', Decimal('25'), Decimal('-100')),
 ('AR00FVC1187FB5BE3E', 'Panda', 'Monterrey, NL, México', Decimal('25'), Decimal('-100'))]

In [7]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://awsuser:***@redshift-cluster.ca0vgn297wdw.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[(1541207073796, 1, 3, 44, 11, 2018, 6),
 (1541207123796, 1, 3, 44, 11, 2018, 6),
 (1541207150796, 1, 3, 44, 11, 2018, 6),
 (1541207316796, 1, 3, 44, 11, 2018, 6),
 (1541207546796, 1, 3, 44, 11, 2018, 6)]

In [8]:
%sql SELECT * FROM songplays LIMIT 5;

 * postgresql://awsuser:***@redshift-cluster.ca0vgn297wdw.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[(83, 1542953722796, 6, 'free', 'SOBONKR12A58A7A7E0', 'AR5E44Z1187B9A1D74', 847, 'Atlanta-Sandy Springs-Roswell, GA', 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:32.0) Gecko/20100101 Firefox/32.0'),
 (256, 1541785625796, 36, 'free', 'SOLNAVA12AB01842E0', 'AR15R2V1187B9A9803', 392, 'Janesville-Beloit, WI', '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (195, 1543574529796, 36, 'paid', 'SOTNHIP12AB0183131', 'ARD46C811C8A414F3F', 998, 'Janesville-Beloit, WI', '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (25, 1543239117796, 36, 'paid', 'SOVPSWY12A58A7B83F', 'ARF91NB1187B98BDB8', 808, 'Janesville-Beloit, WI', '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (49, 1543342978796, 36, 'paid', 'SODFRAX12A8C13274B', 'ARP29T31187B98DD5F', 957, 'Janesville-Beloit, WI', '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"')]

In [9]:
%%sql
SELECT COUNT(DISTINCT user_iD) from users;

 * postgresql://awsuser:***@redshift-cluster.ca0vgn297wdw.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(97,)]

In [10]:
%%sql
SELECT gender,count(gender) from (select distinct user_id,gender from users) group by gender;

 * postgresql://awsuser:***@redshift-cluster.ca0vgn297wdw.us-west-2.redshift.amazonaws.com:5439/dev
2 rows affected.

[('F', 55), ('M', 42)]

In [11]:
%%sql
SELECT name, COUNT(name) AS plays 
FROM artists
GROUP BY name 
ORDER BY plays DESC 
LIMIT 1;

 * postgresql://awsuser:***@redshift-cluster.ca0vgn297wdw.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[('Badly Drawn Boy', 9)]